<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flat UI Free 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loading Bootstrap -->
    <link  href="{% static 'FlatUI/dist/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="{% static 'FlatUI/dist/css/flat-ui.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'FlatUI/dist/img/favicon.ico' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static 'FlatUI/dist/js/vendor/html5shiv.js' %}"></script>
      <script src="{% static 'FlatUI/dist/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>

  <h1 class="demo-logo">
      <div class="row">
         <div class="center-block" style="width:300px">个人博客</div>
      </div>
   </h1>
<ul class="nav nav-pills nav-justified">
      <li ><a href="#">首页</a></li>
      <li><a href="#">博客列表</a></li>
      <li><a href="#">精选博客</a></li>
      <li><a href="#">我的信息</a></li>
   </ul>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="{% static 'FlatUI/dist/js/vendor/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'FlatUI/dist/js/vendor/video.js'}" %></script>
    <script src="{% static 'FlatUI/dist/js/flat-ui.min.js'}" %></script>

  </body>
</html>
